@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  width: 30%;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.st0 {
  fill: #673200;
}

.st1 {
  fill: #ffaaca;
}

.st2 {
  fill: #c65b00;
}

.st3 {
  fill: none;
  stroke: #000;
  stroke-width: 3;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}
.eyes {
  animation: move 0.001s linear infinite alternate;
}

.eyes {
  animation: move 0.001s linear infinite alternate;
}

.ears {
  transform: translate(0, 0);
  transition: all 0.25s linear;
}

svg:hover .ears {
  transform: translate(0, -10px);
}

@keyframes move {

  from {
    /* We start the rotation at 0 degrees */
    transform: translate(0);
  }

  to {
    /* And end the rotation at 360 degrees */
    transform: translate(10px);
  }
}
